{% load static %}

<h1>Home Page</h1>
<a href="{% url 'post_create' %}" class="btn btn-primary">Create New Post</a>

<div class="card-container">
  {% for post in posts %}
  <a href="{% url 'post_detail' post.id %}" class="card">
    <div>
      <h3 class="card-title">{{ post.title }}</h3>
      <p class="card-text">{{ post.content }}</p>
    </div>
  </a>
  {% empty %}
    <p>No posts available.</p>
  {% endfor %}
</div>

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">